GOOGLE_PLAY_JSON_KEY_PATH=credentials/google-play-service-account.json
GOOGLE_PLAY_TRACK=internal
GOOGLE_PLAY_RELEASE_STATUS=draft

APP_STORE_CONNECT_API_KEY_ID=CFR495VFCS
APP_STORE_CONNECT_ISSUER_ID=ded2014b-7fd6-4efb-a65b-d1d9114b3d38
APP_STORE_CONNECT_API_KEY_PATH=credentials/AuthKey_CFR495VFCS.p8
